{% extends "base.html" %}
{% block title %}
  CitySound    
{% endblock title %}
{% block content %}
  <section class="hero">
    <div class="container">
      <div class="hero-content">
        <h1 class="hero-title">
          Bienvenido a CitySound
        </h1>
        <p class="hero-description">
          CitySound es una aplicación móvil de audioguías que permite
           explorar la ciudad a tu propio ritmo para descubrir curiosidades, secretos, historias…
        </p>
        <p class="hero-description">
          ¡Descargate la aplicación y empieza a explorar con CitySound!
        </p>
        <div class="hero-buttons">
          <a href="https://drive.google.com/drive/folders/1pon7LwrCZxSp18bpcpnYCq4l9Io9X4Uo?usp=drive_link" class="btn btn-primary">Download</a>
        </div>
      </div>
    </div>
  </section>

 
{% endblock content %}
